body {
    font-family:"Lucida Grande",Verdana,Lucida,Arial,Helvetica,"宋体",sans-serif;
    font-size: 12px;
    color: #ad7c77;
    background: #ffd7c4;
}

p {
	margin-bottom: 12px;
}

h3 {
	text-align: left;
	font-size: 16px;
}

q {
	line-height: 1em;
	color: white;
	margin-top: 5px;
	vertical-align: middle;
	display: table-cell;
}

a {
	font-weight: bold;
	color: #e98376;
}

a:visited {
	color: #ad7c77;
}

a:hover { 
	text-decoration: underline; 
}

.page {
	padding-bottom: 4px;
}

header {
	position: relative;
	z-index: 1;
	width: 100%;
	overflow: hidden;
	background: white;
	box-shadow: 0px 6px rgba(0,0,0,.1);
}

header h1 {
	float: left;
	height: 60px;
	width: 300px;
	text-indent: -9999px;
	background: url("img/3.png")no-repeat 10px 0/280px 60px;
}

@keyframes changeBg{
	0%{
		background-position: 0 70px;
	}
	100%{
		background-position: 0 0;
	}
}

header h2 {
	margin-top: 10px;
	margin-left: 480px;
	height: 40px;
	text-indent: -9999px;
	background: url("img/4.png")no-repeat;
	background-position: 0 70px;
	animation: changeBg 1s linear 100ms both;
	/*transition: background-position 1s linear 100ms ;
	transform: translateY(-70px);*/
}

aside {
	float: left;
	position: relative;
  	height: 900px;
	width: 215px;
	margin-top: 40px;
	font-size: 11px;
}

aside .page-quote {
	position: relative;
	display: table;
	width: 195px;
	height: 62px;
	margin: 30px 10px ;
	padding: 0px 4px;
	text-align: center;
	border: 1px solid #e4c4b4;
	background: white url("img/6.jpg")no-repeat 4px 4px/195px 54px;
	box-shadow: 1px 1px 5px rgba(0,0,0,.1);
}

aside .page-quote span{
	font-weight: bold;
}

aside .page-quote p {
	position: absolute;
	top: 42px;
	right: 10px;
	color: white;
}

aside li {
	line-height: 1.2em;
	margin-top: 8px;
}

aside li:not([class="page-aside-title"]) {
	padding-left: 24px;
}

aside span {
	margin: 0px 5px;
}

aside .page-aside-title {
	margin-top: 20px;
	font-family: "SimSun-ExtB";
	font-size: 19px;
	font-weight: bold;
	color: #bc8c85;
	letter-spacing: -2px;
}

aside ul > li:first-child::before,
aside ul > li:first-child::after {
	content: "";
	position: absolute;
	margin-top: 5px;
	height: 16px;
	background: #f1c5b0;
}

aside ul:nth-child(1) > li:first-child {
	padding-left: 37px;
}

aside ul:nth-child(1) > li:first-child::before {
	width: 30px;
	left: 0;
}

aside ul:nth-child(1) > li:first-child::after {
	width: 45px;
	right: 0;
}

aside ul:nth-child(2) > li:first-child {
	padding-left: 77px;
}

aside ul:nth-child(2) > li:first-child::before {
	width: 70px;
	left: 0;
}

aside ul:nth-child(2) > li:first-child::after {
	width: 58px;
	right: 0;
}

aside ul:nth-child(3) > li:first-child {
	padding-left: 57px;
}

aside ul:nth-child(3) > li:first-child::before {
	width: 53px;
	left: 0;
}

aside ul:nth-child(3) > li:first-child::after {
	width: 68px;
	right: 0;
}

.page-content {
	margin: 0px 0px  0px 228px;
	padding-top: 68px;
	background: #ffc5a9;
}

.page-content article {
	padding: 16px 35px 2px 40px;
	line-height: 1.2em;
	text-align: justify;
}

.page-content section {
	position: relative;
	margin-left: 42px;
	margin-right: 10px;
	padding-right: 10px; 
	padding-top: 1px;
	height: 200px;
	background: #ffd7c4;
}

.page-content section a {
	color: #ad7c77;
}

.page-content section .page-content-photos {
	position: absolute;
	left: -22px;
	top: -25px;
	width: 468px;
	height: 212px;
	border: 1px solid #e4c4b4;
	background:white url("img/5.jpg")no-repeat 4px 4px/460px 204px;
	box-shadow: 2px 2px 5px rgba(0,0,0,.1);
}

.page-content section p {
	margin-bottom: 0;
	font-family: "SimSun-ExtB";
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.page-content section div > p:first-child {
	margin-top: 40px;
	margin-left: 10px;
}

.page-content section div > p:nth-child(2) {
	margin-top: -6px;
	margin-left: 60px;
	font-size: 15px;
	font-weight: normal;
}

.page-content section div > p:nth-child(3) {
	margin-top:92px;
	margin-left: 140px;
	font-size: 25px;
}

.page-content section div > p:nth-child(4) {
	margin-top: -6px;
	margin-left: 85px;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: -2px;
}

.page-content section > p:last-child {
	font-family: "Lucida Grande",Verdana,Lucida,Arial,Helvetica,"宋体",sans-serif;
	margin-top: 50px;
	margin-left: 470px;
	color: #ad7c77;
	font-size: 12px;
	font-weight: normal;
}

.page-content footer {
	text-align: right;
}

.page-content footer {
	padding-top: 11px;
	margin-left: 42px;
	margin-right: 30px;
	border-top: 1px solid rgba(255,255,255,.2);
}

.page-content footer a {
	display: inline-block;
	margin-right: 6px; 
	padding: 4px;
}

.page-content footer a:hover {
	text-decoration: none;
	background: rgba(255,255,255,.4);
}

@media screen and (max-width: 844px) {
	.page-content section {
		height: 230px;
	}

	.page-content section > p:last-child {
		margin-top: 195px;
		margin-left: 5px;
	}

	header h2 {
		margin-left: 350px;
	}
}

@media screen and (max-width: 744px) {
	
}

@media screen and (max-width: 621px) {
	aside {
		display: none;
	}

	header h2 {
		margin-left: 14%;
		margin-top: 60px;
	}

	.page-content {
		margin-left: 0px;
	}

	.page-content section div > p:first-child {
		margin: 20px 6px 0 5px;
	}

	.page-content section div > p:nth-child(2) {
		margin: 0 6px 0 5px;
	}

	.page-content section div > p:nth-child(3) {
		margin: 30px 6px 0 5px;
	}

	.page-content section div > p:nth-child(4) {
		margin: 0 6px 0 5px;
	}
}

@media screen and (max-width: 503px) {
	.page-content section .page-content-photos {
		width: 100%;
		background:white url("img/5.jpg")no-repeat 4px 4px/97.5% 204px;
	}
}
